.CenterBox {
  height: 52%;
  width: 39%;
  position: absolute;
  top: 47%;
  left: 52%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.AlertHeader {
  width: 100%;
  height: 13%;
  background: #D9D9D9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  font-size: calc(1.5vw + 1.5vh);
  font-weight: 545;
  
}
.AlertList {
  width: 90%;
  height: 70%;
  margin: auto;
  border-spacing: 25px;
  overflow-y: auto;
  display: inline-block;

}
.AlertEntry {
  background: #f0f0f0;
  text-align: center;
  margin: 1px;
  width: 100%;
  height: 10%;
  font-size: calc(1.0vw + 1.0vh);
 
  
}
