/* CSS containing style for the navbar*/
.Navbar {
  height: 16%;
  width: 73.6%;
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: right;
  align-items: stretch;
  
}

.Navbar ul {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 1.4px; 
  list-style: none;
  display: flex;
}

.Navbar li {
  width: 50%;
  height: 100%;
  border-top-style: solid;
  border-color: #898989;

}

.Navbar a {
  width: 100%;
  height: 100%;
  font-size: calc(3vw + 3vh);
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Navbar li.Inactive:hover {
    background-color: #D4CFCE ;
  }
  
  .Navbar li.Inactive {
    border-bottom-style: solid;
    border-left-style: solid;

  }
