
.Status {
    position: absolute;
    height: 17%;
    width: 45%;
    left: 30%;
    bottom: 4%;
    display:flex;
    justify-content: space-between;
    
}

.DoorStatus{
    margin-right: 5%;
    flex: 1;
    background-color: #eeeeee;
    text-align: center;
    font-size: calc(0.7vw + 0.7vh);
   
}

.DoorLine {
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid #000;
  }

.LaserStatus{
    flex: 1;
    margin-left: 5%;
    background-color: #eeeeee;
    text-align: center;
    font-size: calc(0.7vw + 0.7vh);
    
}
.LaserLine {
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid #000;
  }

.Ready {
    color: red;
  }
  