.timeleft p {
  color: black;
}

.timeleft {
  background: #f0f0f0;
  color: white;
  text-align: center;
  width: 20%;
  height: 15%;
  position: absolute;
  top: 45%;
  right: 2%; 
  font-size: calc(1.2vw + 1.2vh);
}
