/* CSS containing style for the time left box*/
.TimeLeft p {
  color: black;
  margin: 0%;
}

.TimeLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #eeeeee;
  text-align: center;
  width: 16%;
  height: 15%;
  position: absolute;
  top: 30%;
  right: 1%; 
  font-size: calc(1.2vw + 1.2vh);
  font-weight: 550;
  

}
