/* CSS containing style for the sidebar*/
.Sidebar{
  height: 100%;
  width: 25%;
  border-right: 1px solid #898989;
  top: 0%;
  left: 0%;
  padding-left: 6px; 
  padding-right: 1%;
  position: absolute;
   
}