.App{
 width: 100vw;
 height: 100vh;
 background-color: #ffff;
 

}

.body{
  margin: 0;
  padding: 0;
}

.Sidebar{
  flex-grow: 1;
  max-width: 25%;
  border: 1px solid #000000;
  padding: 10px;
  

}

