.App{
 height: 100vh;
 width: 100vw;
 background-color: #ffff;
 overflow: auto;
 display: flex;
 position: relative;
}

.body{
  margin: 0;
  padding: 0;
}

.Sidebar{
  flex-grow: 1;
  max-width: 25%;
  border: 1px solid #000000;
  padding: 10px;
  

}

