.estimate p {
  color: black;
}

.estimate {
  background: #f0f0f0;
  padding: 10px;
  color: white;
  text-align: center;
  width: 300px;
  height: auto;
  position: absolute;
  top: 25%;
  right: 20%;
}
